.main {
  max-width: 700px;
  height: 100%;
  background-color: green;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard {
  background-color: white;
  width: 90%;
  margin: auto;
}

.back {
  position: absolute;
  top: 5%;
  left: 5%;
}

.leaderboardUser {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 20px;
}
