.container {
  margin: auto;
  width: 75vw;
  height: 75vh;
  border-radius: 10px;
  background-color: rgb(235, 141, 47);
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60%;
}

.form input {
  height: 50px;
  margin: 25px 0;
}

.form button {
  height: 50px;
}
