.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  background-color: grey;
  margin: auto;
  border-radius: 14px;
  overflow: hidden;
}

.invite {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: white;
  min-height: 150px;
}

.players {
  display: flex;
  flex-direction: column;
}

.pending {
  background-color: red;
}

.accepted {
  background-color: green;
}
