.recentMatches {
  background-color: white;
  width: 90%;
}

.title {
  width: 90%;
}

.match {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  text-align: center;
  height: 50px;
  margin-bottom: 5px;
}

.winner {
  background-color: greenyellow;
  padding: 15px;
}

.loser {
  background-color: red;
  place-items: center;
  padding: 15px;
}
